Repository AlissonGSantos/DAC-UFPR-Trabalho-Final, pull requests merged in 2025-04, with the labels that each got.

#41 Feat/backend/ms voo
  backend/database/sql/02-create-tables.sql
  backend/database/sql/03-inserts.sql
  backend/voo-service/docker-compose.yml
  backend/voo-service/pom.xml
  backend/voo-service/src/main/kotlin/br/ufpr/dac/voo_service/domain/Aeroporto.kt
  backend/voo-service/src/main/kotlin/br/ufpr/dac/voo_service/domain/EstadoVoo.kt
  backend/voo-service/src/main/kotlin/br/ufpr/dac/voo_service/domain/Voo.kt
  backend/voo-service/src/main/kotlin/br/ufpr/dac/voo_service/repository/IAeroportoRepository.kt
  backend/voo-service/src/main/kotlin/br/ufpr/dac/voo_service/repository/IVooRepository.kt
  backend/voo-service/src/main/kotlin/br/ufpr/dac/voo_service/resource/AeroportoController.kt
  backend/voo-service/src/main/kotlin/br/ufpr/dac/voo_service/resource/AeroportoService.kt
  backend/voo-service/src/main/kotlin/br/ufpr/dac/voo_service/resource/VooController.kt
  backend/voo-service/src/main/kotlin/br/ufpr/dac/voo_service/resource/VooService.kt
  backend/voo-service/src/main/kotlin/br/ufpr/dac/voo_service/resource/dto/AeroportoOutputDTO.kt
  backend/voo-service/src/main/kotlin/br/ufpr/dac/voo_service/resource/dto/VooOutputDTO.kt
  backend/voo-service/src/main/resources/application.properties
Labels: back-end

#57 Feature/frontend/authentication integration
  backend/autenticacao-service/src/main/kotlin/br/ufpr/dac/autenticacao_service/resource/AuthController.kt
  backend/database/Dockerfile
  backend/database/sql/99-acessos.sql
  backend/docker-compose.yml
  frontend/emiratads/app/authentication/login/components/LoginForm/useLoginForm.tsx
  frontend/emiratads/app/authentication/login/page.tsx
  frontend/emiratads/app/authentication/register/components/RegisterForm/RegisterForm.tsx
  frontend/emiratads/app/authentication/register/page.tsx
  frontend/emiratads/app/authentication/services/loginServices.ts
  frontend/emiratads/app/authentication/services/registerServices.ts
  frontend/emiratads/app/components/Button/useButton.tsx
  frontend/emiratads/app/components/Input/Input.tsx
  frontend/emiratads/app/components/Navbar/Navbar.tsx
  frontend/emiratads/app/components/Navbar/components/Shortcut.tsx
  frontend/emiratads/app/dashboard/page.tsx
  frontend/emiratads/app/layout.tsx
  frontend/emiratads/app/types/AuthTypes.ts
  frontend/emiratads/app/utils/apiRoutes.ts
  frontend/emiratads/package-lock.json
  frontend/emiratads/package.json
Labels: back-end, front-end

#80 [Feature] Frontend / extrato milhas
  frontend/emiratads/app/client/invoice/components/transaction/transactionCard.tsx
  frontend/emiratads/app/client/invoice/page.tsx
  frontend/emiratads/app/client/invoice/useInvoice.tsx
  frontend/emiratads/app/types/InvoiceTypes.ts
Labels: front-end

#82 [Bugfix] Frontend - Employee cpf edition
  frontend/emiratads/app/client/invoice/components/transaction/transactionCard.tsx
  frontend/emiratads/app/client/invoice/page.tsx
  frontend/emiratads/app/client/invoice/useInvoice.tsx
  frontend/emiratads/app/components/Input/Input.tsx
  frontend/emiratads/app/employee/dashboard/components/EmployeeForm/EmployeeForm.tsx
Labels: bug, front-end

#85 Feature/backend/flight endponts
  .gitignore
  backend/voo-service/src/main/kotlin/br/ufpr/dac/voo_service/domain/Voo.kt
  backend/voo-service/src/main/kotlin/br/ufpr/dac/voo_service/repository/IVooRepository.kt
  backend/voo-service/src/main/kotlin/br/ufpr/dac/voo_service/resource/VooController.kt
  backend/voo-service/src/main/kotlin/br/ufpr/dac/voo_service/resource/VooService.kt
  backend/voo-service/src/main/kotlin/br/ufpr/dac/voo_service/resource/dto/AeroportoInputDTO.kt
  backend/voo-service/src/main/kotlin/br/ufpr/dac/voo_service/resource/dto/AeroportoOutputDTO.kt
  backend/voo-service/src/main/kotlin/br/ufpr/dac/voo_service/resource/dto/VooInputDTO.kt
  backend/voo-service/src/main/kotlin/br/ufpr/dac/voo_service/resource/dto/VooOutputDTO.kt
  backend/voo-service/src/main/kotlin/br/ufpr/dac/voo_service/resource/mapper/AeroportoMapper.kt
  backend/voo-service/src/main/kotlin/br/ufpr/dac/voo_service/resource/mapper/VooMapper.kt
Labels: back-end
