Repository AlissonGSantos/DAC-UFPR-Trabalho-Final, pull requests merged in 2025-05, with the labels that each got.

#90 [Feature] Frontend - Integração do serviço Extrato milhas
  .github/workflows/deploy-backend.yaml
  backend/cliente-service/src/main/kotlin/br/ufpr/dac/cliente_service/resource/MilhasController.kt
  frontend/emiratads/app/authentication/services/milesServices.ts
  frontend/emiratads/app/client/invoice/page.tsx
  frontend/emiratads/app/client/invoice/useInvoice.tsx
  frontend/emiratads/app/components/Navbar/useNavbar.tsx
  frontend/emiratads/app/types/InvoiceTypes.ts
Labels: back-end, front-end

#98 [FRONTEND]-[FEAT/FIX] - Ofertas + FIX -> (R03/R13)
  frontend/emiratads/app/client/flight/[codigo]/useFlightDetail.tsx
  frontend/emiratads/app/client/home/components/BookingsTable/BookingsTable.tsx
  frontend/emiratads/app/client/home/components/BookingsTable/useBookingsTable.tsx
  frontend/emiratads/app/client/home/components/OffersSection/OffersSection.tsx
  frontend/emiratads/app/client/home/components/OffersSection/components/OfferCard/OfferCard.tsx
  frontend/emiratads/app/client/home/components/OffersSection/useOfferSection.tsx
  frontend/emiratads/app/client/home/page.tsx
  frontend/emiratads/app/components/DataTable/DataTable.tsx
  frontend/emiratads/app/contexts/flight.tsx
  frontend/emiratads/app/employee/home/components/FlightTable/FlightTable.tsx
  frontend/emiratads/app/employee/home/components/FlightTable/useFlightTable.tsx
  frontend/emiratads/app/employee/home/page.tsx
Labels: front-end

#97 [Feature] Frontend - Integração cadastro
  .gitignore
  backend/autenticacao-service/src/main/resources/application.yaml
  backend/autenticacao-service/src/main/resources/static/emiratadsLogo.png
  backend/autenticacao-service/src/main/resources/static/templateEmail.html
  backend/docker-compose.yml
  frontend/emiratads/app/authentication/register/components/RegisterForm/RegisterForm.tsx
  frontend/emiratads/app/authentication/register/components/RegisterForm/useRegisterForm.tsx
  frontend/emiratads/app/authentication/register/page.tsx
  frontend/emiratads/app/authentication/register/schema/schema.ts
  frontend/emiratads/app/authentication/register/useRegister.tsx
  frontend/emiratads/app/authentication/services/registerServices.ts
  frontend/emiratads/app/utils/removeSpecialCharacters.ts
Labels: back-end, front-end

#99 [Feature] Backend - Ajustes nos serviços de funcionário
  backend/autenticacao-service/src/main/kotlin/br/ufpr/dac/autenticacao_service/RabbitMQConfig.kt
  backend/autenticacao-service/src/main/kotlin/br/ufpr/dac/autenticacao_service/repository/IAuthRepository.kt
  backend/autenticacao-service/src/main/kotlin/br/ufpr/dac/autenticacao_service/resource/AutenticacaoListener.kt
  backend/autenticacao-service/src/main/kotlin/br/ufpr/dac/autenticacao_service/resource/AuthService.kt
  backend/autenticacao-service/src/main/kotlin/br/ufpr/dac/autenticacao_service/utils/EmailService.kt
  backend/autenticacao-service/src/main/resources/static/templateEmail.html
  backend/backend-services-utils/src/main/kotlin/utils/dto/FuncionarioInputDTO.kt
  backend/backend-services-utils/src/main/kotlin/utils/dto/FuncionarioOutputDTO.kt
  backend/database/sql/02-create-tables.sql
  backend/funcionario-service/src/main/kotlin/br/ufpr/dac/funcionario_service/RabbitMQConfig.kt
  backend/funcionario-service/src/main/kotlin/br/ufpr/dac/funcionario_service/repository/IFuncionarioRepository.kt
  backend/funcionario-service/src/main/kotlin/br/ufpr/dac/funcionario_service/resource/FuncionarioController.kt
  backend/funcionario-service/src/main/kotlin/br/ufpr/dac/funcionario_service/resource/FuncionarioListener.kt
  backend/funcionario-service/src/main/kotlin/br/ufpr/dac/funcionario_service/resource/FuncionarioService.kt
  backend/funcionario-service/src/main/kotlin/br/ufpr/dac/funcionario_service/resource/dto/FuncionarioInputDTO.kt
  backend/funcionario-service/src/main/kotlin/br/ufpr/dac/funcionario_service/resource/dto/FuncionarioMapper.kt
  backend/funcionario-service/src/main/kotlin/br/ufpr/dac/funcionario_service/utils/CustomExceptionHandler.kt
  backend/funcionario-service/src/main/kotlin/br/ufpr/dac/funcionario_service/utils/CustomRabbitListenerErrorHandler.kt
  backend/saga-orchestration-service/src/main/kotlin/br/ufpr/dac/saga_orchestration_service/RabbitMQConfig.kt
  backend/saga-orchestration-service/src/main/kotlin/br/ufpr/dac/saga_orchestration_service/controllers/AutocadastroController.kt
  backend/saga-orchestration-service/src/main/kotlin/br/ufpr/dac/saga_orchestration_service/controllers/CadastroController.kt
  backend/saga-orchestration-service/src/main/kotlin/br/ufpr/dac/saga_orchestration_service/sagas/CadastroFuncionarioSaga.kt
  backend/voo-service/src/main/kotlin/br/ufpr/dac/voo_service/resource/VooController.kt
  backend/voo-service/src/main/kotlin/br/ufpr/dac/voo_service/resource/VooService.kt
Labels: back-end

#103 fix: middleware + mileage purchase
  frontend/emiratads/app/client/flight/[codigo]/page.tsx
  frontend/emiratads/app/client/flight/[codigo]/useFlightDetail.tsx
  frontend/emiratads/app/client/searchFlight/components/SearchForm/SearchForm.tsx
  frontend/emiratads/app/employee/home/components/FlightTable/useFlightTable.tsx
  frontend/emiratads/app/mileage/home/components/MileagePurchase/MileagePurchase.tsx
  frontend/emiratads/app/mileage/home/components/MileagePurchase/useMileagePurchase.tsx
  frontend/emiratads/app/mileage/home/page.tsx
  frontend/emiratads/app/mileage/home/schema/schema.ts
  frontend/emiratads/middleware.ts
Labels: front-end

#104 [Feature] Frontend - Fine grained updates
  backend/cliente-service/src/main/kotlin/br/ufpr/dac/cliente_service/resource/MilhasController.kt
  frontend/emiratads/app/authentication/register/components/RegisterForm/RegisterForm.tsx
  frontend/emiratads/app/authentication/register/components/RegisterForm/useRegisterForm.tsx
  frontend/emiratads/app/authentication/services/milesServices.ts
  frontend/emiratads/app/authentication/services/registerServices.ts
  frontend/emiratads/app/client/home/components/HomeHeader/HomeHeader.tsx
  frontend/emiratads/app/client/invoice/page.tsx
  frontend/emiratads/app/mileage/home/components/MileagePurchase/useMileagePurchase.tsx
  frontend/emiratads/app/types/AuthTypes.ts
  frontend/emiratads/middleware.ts
Labels: back-end, front-end

#107 fix: search flight refinement
  frontend/emiratads/app/client/home/page.tsx
  frontend/emiratads/app/client/searchFlight/components/SearchForm/useSearchForm.tsx
  frontend/emiratads/app/components/SearchComponent/SearchComponent.tsx
  frontend/emiratads/app/components/SearchComponent/useSearchComponent.tsx
  frontend/emiratads/app/components/SelectInput/SelectInput.tsx
Labels: front-end

#64 [FEATURE]-[BACKEND] - WIP: Gateway service
  .gitignore
  backend/autenticacao-service/src/main/kotlin/br/ufpr/dac/autenticacao_service/resource/AuthController.kt
  backend/autenticacao-service/src/main/resources/application.yaml
  backend/backend-services-utils/src/main/kotlin/utils/dto/EnderecoDTO.kt
  backend/backend-services-utils/src/main/kotlin/utils/dto/FuncionarioInputDTO.kt
  backend/backend-services-utils/src/main/kotlin/utils/dto/FuncionarioOutputDTO.kt
  backend/cliente-service/src/main/kotlin/br/ufpr/dac/cliente_service/resource/ClienteController.kt
  backend/cliente-service/src/main/kotlin/br/ufpr/dac/cliente_service/resource/MilhasController.kt
  backend/database/sql/02-create-tables.sql
  backend/database/sql/03-inserts.sql
  backend/docker-compose.yml
  backend/funcionario-service/src/main/kotlin/br/ufpr/dac/funcionario_service/resource/FuncionarioController.kt
  backend/funcionario-service/src/main/kotlin/br/ufpr/dac/funcionario_service/resource/FuncionarioService.kt
  backend/funcionario-service/src/main/kotlin/br/ufpr/dac/funcionario_service/resource/dto/FuncionarioMapper.kt
  backend/reserva-service/src/main/kotlin/br/ufpr/dac/reserva_service/resource/ReservaController.kt
  backend/saga-orchestration-service/src/main/kotlin/br/ufpr/dac/saga_orchestration_service/controllers/CadastroController.kt
  backend/saga-orchestration-service/src/main/kotlin/br/ufpr/dac/saga_orchestration_service/controllers/ReservaController.kt
  backend/saga-orchestration-service/src/main/kotlin/br/ufpr/dac/saga_orchestration_service/controllers/VooController.kt
  backend/voo-service/src/main/kotlin/br/ufpr/dac/voo_service/resource/AeroportoController.kt
  backend/voo-service/src/main/kotlin/br/ufpr/dac/voo_service/resource/VooController.kt
  backend/voo-service/src/main/kotlin/br/ufpr/dac/voo_service/resource/VooService.kt
  gateway/.env.example
  gateway/Dockerfile
  gateway/index.js
  gateway/package-lock.json
  gateway/package.json
  gateway/src/config/corsConfig.js
  gateway/src/controllers/autenticacaoController.js
  gateway/src/controllers/clienteController.js
  gateway/src/controllers/funcionarioController.js
  gateway/src/controllers/reservaController.js
  gateway/src/controllers/vooController.js
  gateway/src/middlewares/verifyJWT.js
  gateway/src/routes/routes.js
  gateway/src/services/autenticacaoService.js
  gateway/src/services/clienteService.js
  gateway/src/services/funcionarioService.js
  gateway/src/services/reservaService.js
  gateway/src/services/vooService.js
Labels: back-end

#109 [Feature] Backend - API Gateway
  backend/cliente-service/src/main/kotlin/br/ufpr/dac/cliente_service/resource/ClienteListener.kt
  backend/reserva-service/src/main/kotlin/br/ufpr/dac/reserva_service/utils/CustomExceptionHandler.kt
  backend/saga-orchestration-service/src/main/kotlin/br/ufpr/dac/saga_orchestration_service/controllers/VooController.kt
  backend/voo-service/src/main/kotlin/br/ufpr/dac/voo_service/resource/VooService.kt
  backend/voo-service/src/main/kotlin/br/ufpr/dac/voo_service/resource/dto/AeroportoInputDTO.kt
  backend/voo-service/src/main/kotlin/br/ufpr/dac/voo_service/resource/dto/VooInputDTO.kt
  backend/voo-service/src/main/kotlin/br/ufpr/dac/voo_service/resource/mapper/AeroportoMapper.kt
  backend/voo-service/src/main/kotlin/br/ufpr/dac/voo_service/resource/mapper/VooMapper.kt
  gateway/src/controllers/autenticacaoController.js
  gateway/src/controllers/clienteController.js
  gateway/src/controllers/funcionarioController.js
  gateway/src/controllers/reservaController.js
  gateway/src/controllers/vooController.js
  gateway/src/routes/routes.js
  gateway/src/services/funcionarioService.js
Labels: back-end

#111 [Refactor] Ajustes na configuração do API Gateway e unificação do Docker Compose
  .example.env
  backend/README.md
  backend/autenticacao-service/docker-compose.yml
  backend/autenticacao-service/src/main/kotlin/br/ufpr/dac/autenticacao_service/resource/AuthController.kt
  backend/autenticacao-service/src/main/resources/application.yaml
  backend/cliente-service/docker-compose.yml
  backend/cliente-service/src/main/kotlin/br/ufpr/dac/cliente_service/resource/ClienteController.kt
  backend/cliente-service/src/main/kotlin/br/ufpr/dac/cliente_service/resource/MilhasController.kt
  backend/cliente-service/src/main/resources/application.yaml
  backend/funcionario-service/docker-compose.yml
  backend/funcionario-service/src/main/kotlin/br/ufpr/dac/funcionario_service/resource/FuncionarioController.kt
  backend/funcionario-service/src/main/resources/application.yaml
  backend/reserva-service/src/main/kotlin/br/ufpr/dac/reserva_service/resource/ReservaController.kt
  backend/reserva-service/src/main/resources/application.yaml
  backend/saga-orchestration-service/src/main/kotlin/br/ufpr/dac/saga_orchestration_service/controllers/CadastroController.kt
  backend/saga-orchestration-service/src/main/kotlin/br/ufpr/dac/saga_orchestration_service/controllers/ReservaController.kt
  backend/saga-orchestration-service/src/main/kotlin/br/ufpr/dac/saga_orchestration_service/controllers/VooController.kt
  backend/saga-orchestration-service/src/main/resources/application.yaml
  backend/starter.bat
  backend/starter.sh
  backend/voo-service/docker-compose.yml
  backend/voo-service/src/main/kotlin/br/ufpr/dac/voo_service/resource/AeroportoController.kt
  backend/voo-service/src/main/kotlin/br/ufpr/dac/voo_service/resource/VooController.kt
  backend/voo-service/src/main/resources/application.yaml
  docker-compose.yml
  gateway/.env.example
  gateway/README.md
  gateway/src/config/corsConfig.js
  gateway/src/middlewares/verifyJWT.js
  gateway/src/services/autenticacaoService.js
  gateway/src/services/clienteService.js
  gateway/src/services/funcionarioService.js
  gateway/src/services/reservaService.js
  gateway/src/services/vooService.js
  starter.bat
  starter.sh
Labels: back-end

#114 [Review] General miscellaneous
  .example.env
  backend/backend-services-utils/src/main/kotlin/utils/gson/GsonProcessor.kt
  backend/database/sql/03-inserts.sql
  backend/reserva-service/src/main/kotlin/br/ufpr/dac/reserva_service/resource/ReservaService.kt
  backend/saga-orchestration-service/src/main/kotlin/br/ufpr/dac/saga_orchestration_service/sagas/CriarReservaSaga.kt
  backend/saga-orchestration-service/src/main/kotlin/br/ufpr/dac/saga_orchestration_service/utils/RabbitUtils.kt
  frontend/emiratads/app/client/booking/[codigo]/page.tsx
  frontend/emiratads/app/client/flight/[codigo]/useFlightDetail.tsx
  frontend/emiratads/app/contexts/flight.tsx
  frontend/emiratads/app/types/FlightTypes.ts
  frontend/package-lock.json
  gateway/index.js
  gateway/package-lock.json
  gateway/package.json
  gateway/src/config/openapi.yaml
  gateway/src/controllers/clienteController.js
  gateway/src/controllers/reservaController.js
  gateway/src/middlewares/tokenJWTService.js
  gateway/src/routes/routes.js
Labels: back-end, front-end, dependencies

#126 [Fix] General - integration bugs
  backend/database/sql/03-inserts.sql
  backend/reserva-service/pom.xml
  backend/reserva-service/src/main/kotlin/br/ufpr/dac/reserva_service/repository/IPoltronaRepository.kt
  backend/reserva-service/src/main/kotlin/br/ufpr/dac/reserva_service/resource/ReservaService.kt
  frontend/emiratads/app/client/booking/components/CheckReservationForm/useCheckReservationForm.tsx
  frontend/emiratads/app/client/flight/[codigo]/useFlightDetail.tsx
  frontend/emiratads/app/client/invoice/useInvoice.tsx
Labels: back-end, front-end
